// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

$fa-font-path: "fonts";

// Color system

$ocean-darker:      #010718;
$ocean-dark:        #041032;
$ocean:             #202e53;
$ocean-light:       #536498;
$ocean-lighter:     #8592ba;
$ocean-lightest:    #b6c0dd;
$beige-darker:      #896f30;
$beige-dark:        #ba9d5a;
$beige:             #d1bc8a;
$beige-light:       #ddc997;
$beige-lighter:     #ead9b0;
$boxbeige-dark:     #ead7ac;
$boxbeige:          #f7eed9;
$boxbeige-light:    #fefbf3;

$theme-colors: (
    "primary": 	$ocean-light,
    "light": 	$boxbeige,
    "dark": 	$ocean,
);

$navbar-dark-color: 			$beige;
$navbar-dark-hover-color: 		$beige-lighter;
$navbar-dark-active-color:          	$beige-light;
$navbar-dark-disabled-color:        	$beige-dark;
$navbar-dark-toggler-border-color: 	$beige-darker;

$font-size-base:              1rem !default;
$h1-font-size:                $font-size-base * 2.0;
$h2-font-size:                $font-size-base * 1.75;
$h3-font-size:                $font-size-base * 1.5;
$h4-font-size:                $font-size-base * 1.25;
$h5-font-size:                $font-size-base * 1.125;
$h6-font-size:                $font-size-base;
