// The Railsite Style Sheet
//

:root {
	--color: #2e3436;
	--closed-color: #aaaaaa;
	--background-color: #fff;
	--header-background-color: #1d3053;
	--header-color: #d1bca8;
	--root-h-padding: 2rem;
}

@media(prefers-color-scheme: dark) {
	:root {
		color-scheme: dark;
		--color: #fbfbfe;
		--closed-color: #888888;
		--background-color: #1b1c22;
	}
}

@media only screen and (max-width: 720px) {
	:root {
		--root-h-padding: 0.2rem;
	}
}

body {
	margin: 0;
	color: var(--color);
	background-color: var(--background-color);
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

body > * {
	padding-left: var(--root-h-padding);
	padding-right: var(--root-h-padding);
}

body > header {
	background-color: var(--header-background-color);
	border-bottom: solid 2px var(--header-color);

	padding-top: 0.2rem;
}

body > main {
	padding-top: 0.2rem;
	padding-bottom: 0.2rem;
	border-top: 2px solid var(--header-background-color);
}

body > footer {
	padding-top: 0.2rem;
}


//--- Line

.line-headline-course {
	font-weight: normal;
}

.line-current {
	display: grid;
	grid-template-columns: max-content auto;
}
.line-current > dt {
	padding-top: 0.2em;
	grid-column: 1;
}
.line-current > dd {
	grid-column: 2;
	padding-top: 0.2em;
	margin-left: 1em;
}


.line-current-sections  {
	display: grid;
	grid-template-columns: max-content auto;
}

.line-current-sections > dt {
	grid-column: 1;
}

.line-current-sections > dd {
	grid-column: 2;
	margin-left: 1em;
}

.line-route .closed {
	opacity: 50%;
}
