// Components of Lines.

.line-overview-part {
    th {
        font-weight: normal;
        padding: 0;
    }
    td {
        padding: 0 0.75rem;
    }
}

.line-route-table {
    @extend .table;
    @extend .table-sm;

    th {
        font-weight: normal;
        font-size: small;
        text-transform: uppercase;
    }
    th.line-route-location {
        padding-left: 1.2rem;
    }

    .here-closed {
        color: $gray-500 !important;

        a {
            color: $ocean-lightest;
        }
    }
}
.line-route-connections {
    ul {
        @extend .list-unstyled;
        @extend .my-0;
    }
}
.line-route-location {
    white-space: nowrap;   

    .here-left {
        display: inline-block;
        min-width: 2.3em;
        text-align: right;
    }
}

.line-events-table {
    @extend .table;
    @extend .table-sm;

    th {
        font-weight: normal;
        font-size: small;
        text-transform: uppercase;
    }
}
.line-events-date {
    text-align: center;

    ul {
        @extend .list-unstyled;
        @extend .my-0;
    }
}
.line-events-section {
    ul {
        @extend .list-unstyled;
        @extend .my-0;
    }
}

dl.line-event {
    dt {
        @extend .font-weight-normal;
    }

    dd {
        @extend .pl-4;

        ul {
            @extend .list-unstyled;
        }
    }
}

