//
// Frame Core
//
// The #frame-core consists of several parts starting with .core-.
//
// The design requires all vertical parts to have an outer block (which
// sets the colour and possibly borders) and an inner block that limits
// the width. For all these, the outer element will have the class suffixed
// with -bar and the inner one will have the un-suffixed class.

body {
    @extend .d-flex;
    @extend .flex-column;
    min-height: 100vh;
}

#frame-core {
    border-top: 2px solid $ocean;
    @extend .flex-grow-1;
}

.frame-core-map {
    height: 100%;
    width: 100%;
    position: absolute;
    padding: 0;
}

// .core-header -- The core header.
//
.core-header-bar {
    @extend .shadow-sm;

    background-color: $boxbeige;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid $beige;
}    
.core-header {
    @extend .container;
    @extend .py-2;

    h1 {
        @extend .my-0;
    }

    p {
        @extend .my-0;
	@extend .ml-1;
    }
}

@include media-breakpoint-up(md) { 
    .core-header {
        padding-top: 2.5rem !important;
    }
}

.core-header-lead {
    font-size: $font-size-lg;
    font-weight: $headings-font-weight;
    line-height: $line-height-base;
}
.core-header-sugar { // only show if there is space
    // .hidden-xs;
}


// .core-action-header -- The core header with a button or two.
//
.core-action-header-bar {
    @extend .core-header-bar;
}
.core-action-header {
    @extend .container;
    @include clearfix();
}
.core-action-header-header {
//   @include float-left();
}
.core-action-header-actions {
//    @include float-right();
    margin: 20px 0;
}

// .core-nav -- A navigation bar for right under a .core-header  
//
.core-nav-bar {
    @extend .shadow-sm;

    background-color: $boxbeige-light;
    --border-bottom: 1px solid $beige-light;
} 
.core-nav {
    @extend .container;
}
.core-nav > ul {
    @extend .nav;
    @extend .nav-tabs;

    color: $gray-700;

    > li {
        @extend .nav-item;
    }

    > li > a {
        @extend .nav-link;
    }

    .icon {
        //.visible-xs;
    }
    .text {
        //.hidden-xs;
    }
}
.core-nav-parts {
    @extend .float-left;
}
.core-nav-factory {
    @extend .float-right;
}


// .core-content -- The regular content
//
.core-content-bar {
}
.core-content {
    @extend .container;
    @extend .mt-3;
    @extend .mb-2;

    h2 {
        @extend .mt-3;
        @extend .mb-2;
        font-size: 1.5rem;
    }
}


// .core-aside -- Core content with an aside to the right
//
.core-aside-bar {
    background-color: #fff;
    padding: 1px 0; // force vertical margins to be white
    margin: 0;
}
.core-aside {
    @extend .container;
}
.core-aside-row {
    @include make-row();
}
.core-aside-main {
    @include make-col(8);
    margin: 20px 0;
}
.core-aside-aside {
    @include make-col(4);
    margin: 20px 0;
}
.core-aside-panel {
    @extend .card;
    //@extend .panel-default;
}


// .core-twin -- Two columns half and half.
//
// The two columns are .core-twin-left and .core-twin-right.
//
.core-twin-bar {
    background-color: #fff;
    padding: 1px 0; // force vertical margins to be white
    margin: 0;
}
.core-twin {
    @extend .container;
}
.core-twin-row {
    @include make-row();
}
.core-twin-left,
.core-twin-right {
    @include make-col(6);
    margin: 20px 0;
}


// .core-dialog -- A small dialog
//
.core-dialog-bar {
    background-color: $gray-200;
    padding: 1px 0; // force vertical margins to be white
    margin: 0;
}
.core-dialog {
    @extend .container;
}
.core-dialog-row {
    @include make-row();
}
.core-dialog-dialog {
    @include make-col(4);
    //@include make-sm-column-offset(4);
}
.core-dialog-panel {
    @extend .card;
    //@extend .panel-default;
    margin: 20px 0;
}


// .core-panel -- A collection of panels as core
//
// Add .core-panel-bar to whatever other core bar you are using. Then
// do your thing and set each panel as core-panel with the normal Bootstrap
// panel things inside.
//
.core-panel-bar {
    background-color: $gray-200;
}
.core-panel {
    @extend .card;
    //@extend .panel-default;
}
.core-panel .panel-title {
    @extend .h3;
    margin-top: 0;
    margin-bottom: 0;
}


// .core-part -- A section that is listed in core-nav
//
.core-part {
    //.visible-xs;

    h1 {
        margin: 2rem 0 1rem;
        font-size: 1.75rem;
    }
}


// .core-subpart -- A sub-section of a core-part
//
.core-subpart {
    @extend .mb-4;

    h2 {
        @extend .h4;
    }
}
