// Styling of the Frame Header
//


.frame-nav-bar {
    background-color: $ocean;
    border-bottom: 2px solid $beige;
    color: $beige;
}

.frame-nav {
    @extend .navbar;
    @extend .navbar-dark;       // Colours are set in _variables.scss.
    @extend .navbar-expand-md;
    @extend .container;
}
.frame-nav-brand {
    @extend .navbar-brand;

    img {
        width: 128px;
        @include media-breakpoint-up(sm) { 
            margin-left: -24px;
        }
    }
}
.frame-nav-content {
    @extend .navbar-collapse;
}
.frame-nav-chapters {
    @extend .navbar-nav;
    @extend .mr-auto;

    li {
        @extend .nav-item;

        a {
            @extend .nav-link;
            @extend .pb-0;
        }
    }
}
.frame-nav-search {
    position: relative;
    @extend .form-inline;
    @extend .my-0;
    @extend .mr-1;

    form {
        @extend .input-group;
        @extend .input-group-sm;

        input {
            @extend .form-control;
        }

        div {
            @extend .input-group-append;
        
            button {
                @extend .btn;
                @extend .btn-light;
            }
        }
    }
}
.frame-nav-search-result {
    position: absolute;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
    @extend .dropdown-menu;
    @extend .py-1;
    
    a {
        @extend .dropdown-item;
        @extend .px-2;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.frame-nav-lang {
    @extend .navbar-nav;
    @extend .pl-2;

    > li {
        @extend .nav-item;

        > a {
            @extend .nav-link;
            @extend .px-1;
        }
    }

    > li.active > a {
        color: $ocean-light !important;
    }
}
.frame-nav-lang-menu {
    @extend .dropdown-menu;
    @extend .dropdown-menu-right;

    a {
        @extend .dropdown-item;
        @extend .navbar-light;
        color: $black;
    }
}


// Icons
//
.frame-icon-home {
    @include make-icon($fa-var-home);
}
.frame-icon-search {
    @include make-icon($fa-var-search);
}
.frame-icon-lang {
    @include make-icon($fa-var-globe);
}

/*
.frame-icon-facts {
    .make-icon(@fa-var-table);
}
.frame-icon-map {
    .make-icon(@fa-var-map-marker);
}
.frame-icon-documentation {
    .make-icon(@fa-var-book);
}
.frame-icon-factory {
    .make-icon(@fa-var-flask);
}
.frame-icon-language {
    .make-icon(@fa-var-flag);
}
.frame-icon-admin {
    .make-icon(@fa-var-cog);
}
.frame-icon-logout {
    .make-icon(@fa-var-power-off);
}
.frame-icon-login {
    .make-icon(@fa-var-user);
}
*/
