// Styling of the home page.

#frame-home-header {

    .frame-nav {
        @extend .justify-content-end;
    }
    
    .home-header-bar {
        background-color: $ocean;
        border-bottom: 2px solid $beige;
        color: $beige;
        overflow: hidden;
        @extend .shadow;
    }

    .home-header {
        @extend .container;
    }

    .home-brand {

        img {
            @extend .img-fluid;

            display: block;
            width: 288px;
            margin: 20px auto;
        }

        p {
            @extend .text-center;
            font-size: 2.5rem;
        }
    }
}

.home-nav {
    ul {
        @extend .nav;
        @extend .nav-pills;
        @extend .nav-justified;
        @extend .mb-4;
    }
    li {
        @extend .nav-item;
        @extend .m-2;
    }
    a {
        @extend .nav-link;
        @extend .bg-primary;
        @extend .text-white;
        @extend .shadow-sm;
        font-size: 1.2rem;
        @extend .p-3;
    }
}

.home-search {
    @extend .mx-2;
}

.home-search-input {
    @extend .input-group;
    @extend .mb-3;

    .here-prepend {
        @extend .input-group-prepend;

        span {
            @extend .input-group-text;
        }

        .here-icon {
            @include make-icon($fa-var-search);
        }
    }
    .here-append {
        @extend .input-group-append;

        button {
            @extend .btn;
            @extend .btn-outline-secondary;
        }
    }

    input {
        @extend .form-control;
    }
}

#home-search-result {
    @extend .list-group;

    a {
        @extend .list-group-item;
        @extend .list-group-item-action;
        @extend .d-flex;

        .icon-type {
            @extend .pr-2;
        }

        .here-title {
            @extend .flex-grow-1;
        }

        .here-key {
            @extend .text-secondary;
            font-size: 0.8rem;
        }
    }
}

.home-info {
    @extend .card-deck;
    @extend .mx-2;
    @extend .mt-4;
}
.home-info-item {
    @extend .card;

    .here-header {
        @extend .card-header;
    }

    .here-body {
        @extend .card-body;
    }

    .here-list {
        @extend .list-unstyled;

        li {
            @extend .my-2;
        }
    }
}
